:root{
  --sidebar-w: 360px;
  --bg: #4fa867;
  --panel: #171717;
  --accent: #ff3b30;
  --text: #eee;
}

*{box-sizing:border-box}

html,body{
  height:100%;
  margin:0;
  font-family:Arial, Helvetica, sans-serif;
  background:var(--bg);
  color:var(--text)
}

body{
  display:flex;
  flex-direction:row;
}

/* danh sach tuyen */
#sidebar{
  width:var(--sidebar-w);
  padding:14px;
  background:#688e16;
  border: 5px solid #222;
  min-height:130vh;
}

#sidebar h2{
  margin:0 0 10px 0;
  font-size:17px;
}

#busList{
  list-style:none;
  padding:0;
  margin:0 0 12px 0;
}

/* tuyen */
#busList li{
  background:#111;
  color:var(--text);
  border:1px solid #333;
  padding:6px 8px;
  margin-bottom:8px;
  border-radius:8px;
  cursor:pointer;
  transition:all .12s;
  font-size:13px;
  line-height:1;
}
#busList li:hover{background:#1c1c1d}
#busList li.active{background:var(--accent); color:#fff; border-color:var(--accent)}

/* chung */
main#main{
  flex:1;
  display:flex;
  flex-direction:column;
  align-items:center;
  padding:20px;
}

/* khung chua ban do */
#graphContainer {
    background: #ACE1AF;
    padding: 20px;
    border-radius: 12px;
    border: 5px solid #fefefe;
    display: flex;
    justify-content: center;
    align-items: center;
}

#graphCanvas{
  display:block;
}

/* khung goi y tuyen */
#infoPanel{
  width:900px;
  background:#000000d0;
  margin-top:16px;
  padding:16px;
  border-radius:10px;
  border:2px solid #fff;
}

#infoPanel h3{
  margin:0 0 6px 0;
  font-size:18px;
}

/* hien thi dia diem */
#popup {
    position: absolute;
    background: white;
    padding: 10px 14px;
    border-radius: 10px;
    border: 2px solid #333;
    color: black;
    font-size: 14px;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.3);
    z-index: 999;
}

.hidden {
    display: none;
}

#infoPanel ul{margin-top:6px}
#infoPanel li{margin:4px 0}
