body {
  font-family: Arial, sans-serif;
  text-align: center;
  background:#fafafa;
}
canvas {
  border:2px solid #333;
  margin-top:10px;
  cursor:pointer;
  border-radius:12px;
}
#result {
  margin-top:15px;
  font-size:18px;
  font-weight:bold;
}